<div class="page-header">
  <h1>Artists</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
    <tr>
      <td style="width: 150px;"><%= link_to artist.name, artist %></td>
      <td><%= artist.bio.length > 125 ? "#{artist.bio[0,125]}..." : artist.bio %></td>
      <td style="width: 100px;"><%= artist.start_date %> - <%= artist.end_date.blank? ? 'present' : artist.end_date %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Artist', new_artist_path, :class => 'btn btn-primary' %>
