<div class="page-header">
  <h1>
    <%= @artist.name %>
    <small>[<%= @artist.start_date %> - <%= @artist.end_date.blank? ? 'present' : @artist.end_date %>]</small>
  </h1>
</div>

<p class="lead">
  <%= @artist.bio %>
</p>

<h6>Albums</h6>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Info</th>
    <th>Release</th>
  </tr>
  </thead>

  <tbody>
  <% @artist.albums.each do |album| %>
      <tr>
        <td style="width:200px;"><%= link_to album.name, album %></td>
        <td><%= album.info.length > 100 ? "#{album.info[0,100]}..." : album.info %></td>
        <td><%= album.release_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Album', new_album_path(:artist_id => @artist.id), :class => 'btn btn-primary' %>
