<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@song.errors.count, "error") %> prohibited
        this song from being saved:</h2>
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :album_id, :value => params[:album_id] %>
 
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :track %><br />
    <%= f.text_field :track %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>