<div class="page-header">
  <h1>
    <%= @album.name %>
    <small>[<%= @album.release_date %>]</small>
  </h1>
</div>

<p class="lead">
  <%= @album.info %>
</p>

<h6>Songs</h6>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Track</th>
    <th>Name</th>
    <th>Duration</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @album.songs.each do |song| %>
      <tr>
        <td><%= song.track %></td>
        <td><%= song.name %></td>
        <td><%= song.duration %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<%= link_to 'New Song', new_song_path(:album_id => @album.id), :class => 'btn btn-primary' %>
