<!DOCTYPE html>
<html>
<head>
  <title>Oldtape</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Oldtape</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Create One!", artists_path %></li>
          <li><%= link_to "Artists", artists_path %></li>
          <li class="divider-vertical"></li>
          
        </ul>
        <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li class="dropdown" id="umenu">
            <%= link_to current_user.email, "#", :class => "dropdown-toggle", "data-toggle" => "dropdown", :href => "#umenu" %>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span9">
      <%= render :partial => 'shared/flashes' %>
      <%= yield %>
    </div>
    <div class="span3">
      <div class="page-header">
        <h1><small>What is Oldtape?</small></h1>
      </div>
      Oldtape is a easy mixtape creation tool with search capabilites for songs.
    </div>
  </div>
</div>

</body>
</html>
